<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{!-- <link rel="text/stylesheet" href="css/style.css"> --}}
    <style media="screen">
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>Search for places</h1>

    <form id="placeSearch" action="#" method="post">
      <label for="keyword">Search</label>
      <input type="text" name="keyword" id="keyword" value="">

      <button>Search</button>
    </form>

    <h2 id="keywordSearch">Results for keyword</h2>
    <ul id="searchResults">
      <li>
        <h2>mrs.pho</h2>
        <p>address</p>
        <button class="addBttn" data-name="mrs.pho" data-address="haji lane" data-reference="hfieahfiehfiewa">add</button>
      </li>
      <li>
        <h2>pho real</h2>
        <p>address</p>
        <button class="addBttn" data-name="pho real" data-address="my hood">add</button>
      </li>
    </ul>

    <img id="spinner" class="hidden" src="img/spinner.gif" alt="loading" width="30">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
