<h2>Submit new user</h2>

<form id="newUserForm" action="/users" method="post">
  <label>
    <input type="text" name="user[name]" placeholder="Submit your name">
  </label>

  <label>
    <input type="text" name="user[email]" placeholder="e.g. jane@gmail.com">
  </label>

  <label>
    <input type="password" name="user[password]">
  </label>

  <button>Submit</button>
</form>
